.title h5{
    color: white;
    font-family: 'Nixie One', cursive;
    font-weight: 700;
}


mat-form-field{
    width: 70%; 
}
.progress-bars{
    margin-top: 1em;
    margin-bottom: 1em; 
    width: 55%; 

} 
.upload-image{
margin-top: 1em;
}
.progress-bars label{
    color: white;
    font-size: 12px;
}
.submit-button{
    margin-top: 1em;
    margin-bottom: 1em;
}
.record mat-list-item{
    color: orange;
    font-family: 'Cabin Sketch', cursive;
    cursor: pointer;
}
.recently-uploaded-images h5{
    color: white;
    font-family: 'Nixie One', cursive;
    font-weight: 700;
    font-size: 20px;
}
.loading-records{
    margin-top: 5em;
}
